/* cd C:\wamp64\www\mini-fb\css puis sass --watch style.scss style.css*/

/* *******************************************************************************************************************************
**********************************************************************************************************************************
------------------------------------------------------ VARIABLES & DEFAULT -------------------------------------------------------
**********************************************************************************************************************************
******************************************************************************************************************************** */

$logo-gris: #353535;
$rouge-calme: #FF3535;
$input-gris: #E9E9E9;
$ecriture-default: #353535;
$ecriture-input: #797979;
$ecriture-header: #AAAAAA;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'HelveticaNowDisplay';
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $rouge-calme;
}

audio {
    outline: none;
}

.btn-default {
    background-color: $rouge-calme;
    color: white;
    font-size: 2rem;
    width: 100%;
    border-radius: 15px;
    border: none;
}

/* *******************************************************************************************************************************
**********************************************************************************************************************************
-------------------------------------------------------- ERREUR / INFO -----------------------------------------------------------
**********************************************************************************************************************************
******************************************************************************************************************************** */

#erreur, #info {
    z-index: 1;
    position: fixed;
    width: 30%;
    top: 10px;
    left: calc(50% - 300px);
    border-radius: 15px;
    text-align: center;

    h3 {
        margin-top: 10px;
        font-size: 4rem;
        margin-bottom: 10px;
    }

    p {
        font-size: 2rem;
        padding-bottom: 10px;
    }

    img {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

#erreur {
    background-color: $rouge-calme;
    color: $input-gris
}

#info {
    background-color: rgb(45, 184, 248);
    color: $logo-gris;
}

/* *******************************************************************************************************************************
**********************************************************************************************************************************
----------------------------------------------------------- ERREUR 404 -----------------------------------------------------------
**********************************************************************************************************************************
******************************************************************************************************************************** */

#erreur404 {
    background: linear-gradient(-45deg, $logo-gris 70%, $input-gris);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;

    .rouge {
        background-color: $rouge-calme;
        margin: 0 auto;
        height: 120vh;
        width: 30vw;
        transform-origin: top;
        transform: skew(45deg);
    }

    .rouge2 {
        background-color: $rouge-calme;
        margin: 0 auto;
        height: 120vh;
        width: 10vw;
        transform: skew(-70deg);
        transform-origin: left;
        margin-top: -120vh;
    }


    .ecriture {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
        transform: translateX(-50%) translateY(-75%);
        text-align: center;
        font-size: 14rem;
        font-weight: 700;
        color: white;
        border: 5px solid white;
        border-top: 10px solid white;
        padding-right: 25px;
        padding-left: 25px;
        border-left: 10px solid white;
        transition: 1s ease;
        background-color: rgba($color: $logo-gris, $alpha: 0.5);
        margin:0;
        a {
            color: white;
        }
        span {
            font-size: 3rem;
            display: block;
            padding-bottom: 10px;
        }
    }

    .ecriture:hover {
        background-color: rgba($color: $input-gris, $alpha: 0.3);
        border-top: 5px solid white;
        border-left: 5px solid white;
        border-bottom: 10px solid white;
        border-right: 10px solid white;
    }
}

/* *******************************************************************************************************************************
**********************************************************************************************************************************
---------------------------------------------------- INSCRIPTION & CONNEXION -----------------------------------------------------
**********************************************************************************************************************************
******************************************************************************************************************************** */

.split-index {
    min-height: 100vh;
    width: 100vw;
    display: flex;

    > div {
        width: 50%;
        min-height: 100vh;
    }

    .partie-logo {
        background-color: white;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        
        font-size: 2rem;
        color: #707070;
        font-weight: 600;
    }

    .partie-form {
        h1 {
            color: white;
            margin: 0;
            padding: 0;
            padding-left: 50px;
            padding-top: 20px;
            font-size: 3rem;
        }

        background-color: $logo-gris;

        .flex {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 50px;
            margin-right: 50px;
            margin-bottom: 50px;
            padding-top: 50px;
            height: 92%;;
        
            form {
                input {
                    height: 80px;
                    margin-bottom: 40px;
                    border-radius: 15px;
                    border:none;
                    font-size: 2rem;
                    padding-left: 40px;
                }

                ::placeholder {
                    color: #707070;
                }
            }

            > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                font-size: 2rem;
            }
        }
    }
}

#connexion {
    .partie-logo {
        h2 {
            margin-top: 100px;
            margin-bottom: 50px;
        }

        p {
            font-size: 1rem;
        }
    }

    .partie-form {
        form {
            display: flex;
            flex-direction: column;
        }

        > div {
            p {
                color:white;
                margin-bottom: 20px;
            }

            a {
                padding-top: 30px;
                height: 80px;
            }
        }
    }
}

#inscription, #connexion {
    .partie-logo {
        h2 {
            margin-top: 100px;
            margin-bottom: 50px;
        }

        p {
            font-size: 1rem;
        }
    }

    form {
        display: flex;
        flex-direction: column;

        > div {
            display: flex;
            justify-content: space-between;
            
            input {
                width: 48%;
            }
        } 

        >div.seul {
            flex-direction: row-reverse;
        }

        input[type="file"] {
            background-color: white;
            padding-top: 28px;
        }

        input[type="submit"] {
            padding-left: 0;
        }

        > .checkBox {
            flex-direction: row;
            justify-content: left;
            align-items: center;
            margin-bottom: 30px;
            
            input {
                height: 30px;
                width: 30px;
                margin-bottom: 0;
            }
            label {
                color: #707070;
                font-size: 2rem;
                padding-left: 20px;
            }
        }

        .btn-default, [type=button]{
            padding-left: 0;
        }
    }

    p > a {
        color:white
    }
}

.split-menu {
    height: 100vh;
    display: flex;

    #menu {
        position: fixed;
        z-index:1;
        height: 100%;
        width: 140px;
        background-color: $logo-gris;
        padding-top: 20px;
        transition: all 0.3s ease;
        text-align: center;
        margin-right: 0px;

        .img_avatar_menu {
            transition: all 0.3s ease;
            width: 100%;
            background-image: url("../ressources/flow-user.jpg");
            height: 100px;
            width: 100px;
            background-size: cover;
            background-position: center center;
            border-radius: 50%;
            text-align: center;
            margin-left: 15%;
        }

        .flex_menu {
            transition:all 0.3s ease;
            opacity: 0;
            visibility: hidden;
            height: 70%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;

            h1 {
                font-size: 3rem;
            }
            nav {
                display: flex;
                flex-direction: column;
                font-size: 2rem;

                a:hover {
                    font-size: 3.2rem;
                    color: white;
                }
            }
        }

        .flex_menu a {
            color: $ecriture-header;
        }
    }

    

    #screen {
        width: 100vw;
        height: 100vh;
        margin-left: 140px;

        .profil-banner {
            background-image: url("../ressources/banniere-defaut.png");
            background-size: cover;
            width: 100%;
            height: 255px;
            position: relative;

            > img {
                position: absolute;
                top: 5%;
                right: 1%;
            }
        }

        .profil-avatar {
            position: absolute;
            right: 10%;
            top: 13%;
            width: 255px;
            height: 255px;
            border-radius: 50%;
            background-image: url("../ressources/flow-user.jpg");
            background-size: cover;
            background-position: center;
            border: 11px solid white;

             img, form {
                position: absolute;
                top: 80%;
                left: 70%;
                input {
                    cursor: pointer;
                }
             }
             img.myAccount, form.myAccount {
                position: absolute;
                top: 40%;
                left: 40%;
             }
        }

    }

}

/* *******************************************************************************************************************************
**********************************************************************************************************************************
----------------------------------------------------------- MON COMPTE -----------------------------------------------------------
**********************************************************************************************************************************
******************************************************************************************************************************** */

.monCompte {
    padding-top: 10px;
    padding-left: 50px;
    input, textarea {
        border: none;
        padding: 20px;
        background-color: $input-gris;
        margin-right: 10px;
        margin-top: 10px;
        color: $ecriture-input;
    }

    .big-input {
        height: 80px;
        font-size: 3rem;
        width: auto;
        font-weight: bold;
        width: 300px;
    }

    .italic-input {
        height: 80px;
        width: auto;
        font-size: 2.5rem;
        font-style: italic;
        width: 750px;
    }

    textarea {
        width: 95%;
        font-size: 2rem;
        border:none;
        font-style: italic;
        margin-bottom: 30px;
        resize: none;
    }

    label {
        font-size: 2rem;
        width: 150px;
        display: inline-block;
    }

    .lien {
        font-size: 2rem;
        width: 500px;
        height: 50px;
    }

    [type=submit] {
        background-color: $rouge-calme;
        color: white;
        margin-top: 40px;
        width: 95%;
    }
}

.changerInfos {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .btn-default {
        margin-top: 30px;
        width: 400px;
        height: 50px;
        text-align: center;
        padding: 12px;
        margin-bottom: 30px;
    }
}

#compte {
    .profil-avatar:hover {
        background-image: none !important;
        background-color: $logo-gris !important;
        cursor: pointer;
    }
    
    .profil-banner:hover {
        background-image: none !important;
        background-color: $rouge-calme !important;
        cursor: pointer;
    }

    .flex-bouton {
        margin-top: 40px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 50px;
        .bouton-avatar {
            margin-right: 10px;
            padding: 10px;
            width : auto;
            height: 50px;
        }
    }
}

/* *******************************************************************************************************************************
**********************************************************************************************************************************
------------------------------------------------------------- MENU ---------------------------------------------------------------
**********************************************************************************************************************************
******************************************************************************************************************************** */

#menu:hover {
    width: 300px;
    .img_avatar_menu { 
        width: 200px;
        height: 200px;
    }
    .flex_menu {
        opacity: 1;
        visibility: visible;
    }
    nav a {
        font-size: 3rem;
    }
}

/* *******************************************************************************************************************************
**********************************************************************************************************************************
----------------------------------------------------------- PROFIL ---------------------------------------------------------------
**********************************************************************************************************************************
******************************************************************************************************************************** */

#accueil_vp {
    display: block;
    height: 40px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.flex-profil {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: calc(100vw - 140px);

    > div {
        width: calc(100vw - 140px);
        flex-shrink: 0;
    }
}

#profil2 {
    transition: all 1s ease;
    padding-left: 120px;
}

#profil .profil-avatar form {
    input[type=submit] {
        width: 46px;
        height: 46px;
        border: none;
        background-color: transparent;
        background-image: url('../ressources/add-button.svg');
    }

    input[type=submit].retirer {
        width: 46px;
        height: 46px;
        border: none;
        background-color: transparent;
        background-image: url('../ressources/delete-friend.svg');
    }
}

.profil,.amis,.accueil {
    padding-left: 50px;
    padding-top: 40px;
    color: $logo-gris;

    h1 {
        margin-top: 0;
        font-size: 5rem;
        font-weight: bold;
    }

    h2 {
        margin: 0;
        font-weight: 400;
        font-style: italic;
        font-size: 2.5rem;
    }

    p {
        margin-top: 30px;
        font-size: 2rem;
    }

    > p {
        width: 90%;
    }

    ul {
        margin-top: 30px;
        font-size: 2rem;
        list-style-type: none;
    }

    .btn-default {
        height: 50px;
        width: 95%;
        margin-bottom: 30px;
    }
}

.profil, .accueil {
    form {
        position: relative;
        textarea {
            border: none;
            padding: 20px;
            padding-right: 100px;
            background-color: $input-gris;
            margin-right: 10px;
            margin-top: 10px;
            color: $ecriture-input;
            width: 95%;
            font-size: 2rem;
            border:none;
            font-style: italic;
            margin-bottom: 30px;
            resize: none;
        }

        #galerie {
            width: 30px;
            position: absolute;
            top: 15%;
            right:6%;
            cursor: pointer;
        }

        #img_music {
            width: 30px;
            position: absolute;
            top: 14%;
            right:9%;
            cursor: pointer;
        }

        #display_image {
            height: 100px;
            width:auto;
            background-color: $input-gris;
            padding: 20px;
        }

        input {
            width: 275px !important;
            float:right;
            margin-right: 5%;
            height: 80%;
        }
    }
}

#fleche {
    background-image: url("../ressources/fleche.png");
    width: 62px;
    height: 112px;
    position: absolute;
    top: 45%;
    left:calc(100vw - 5%);
}

#fleche2 {
    background-image: url("../ressources/fleche.png");
    transform: rotate(180deg);
    width: 62px;
    height: 112px;
    position: absolute;
    top: 45%;
    left: calc(100vw + 1%);
}

/* *******************************************************************************************************************************
**********************************************************************************************************************************
------------------------------------------------------------- POST ---------------------------------------------------------------
**********************************************************************************************************************************
******************************************************************************************************************************** */

.post {
    position: relative;
    background-color: $input-gris;
    min-height: 170px;
    margin-left: 5%;
    padding-left: 125px;
    padding-top: 1px;
    width: 90%;

    .img_posteur {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-image: url("../upload/flow-user.jpg");
        background-size: cover;
        background-position: center;
        position: absolute;
        border: 11px solid white;
        left: -8%;
        top: -5%;
    }

    .img_recepteur {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-image: url("../upload/flow-user.jpg");
        background-size: cover;
        background-position: center;
        position: absolute;
        border: 4px solid white;
        top: 0px;
        left: 20px;
    }

    p {
        color: #797979;
        font-size: 2.5rem;
        padding-bottom: 20px;
        max-width: 100%;
        word-break: break-all;
    }

    .post_like {
        position: absolute;
        bottom: 15px;
        right: 15px;
    }

    .img_post {
        height: 70px;
        width: auto;
        margin-bottom: 10px;
    }

    .pseudo {
        margin-top: 20px;
        padding-bottom: 0;
        font-weight: 600;
        font-size: 3rem;
        
        > a {
            color: $ecriture-input;
        }

    }

    .interets {
        padding: 0;
        margin-top: 10px;
        font-style: italic;
    }

    .biographie {
        font-size: 2.3rem;
    }
}

.flex_compl_comm {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post_commentaire {
    color: #797979;
    margin-top: 5px !important;
    padding-left: 200px;
    padding-bottom: 30px;
}

/* *******************************************************************************************************************************
**********************************************************************************************************************************
------------------------------------------------------------ AMIS ----------------------------------------------------------------
**********************************************************************************************************************************
******************************************************************************************************************************** */

#amis {
    text-align: center;
    width: 95%;

    h1 {
        text-align: left;
        margin-top: 40px;
    }
    .flex-card {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .card {
            margin: 0 auto;
            width: 200px;
            color: #797979;
    
            .img_amis {
                width: 100%;
                height: 200px;
                background-size: cover;
                border-radius: 50%;
                background-image: url("../ressources/avatar/laylow.png");
                background-position: center;
            }
    
            h3 {
                margin-top: 10px;
                font-size: 3rem;
                font-weight: 300;
            }
        }
    }

    .btn-default {
        height: 80px;
        margin-top: 30px;
        width: 275px;
    }

    form.recherche {
        margin-top: 100px;
        width: 100%;
        display: block;
        text-align: left;
        display: flex;
        align-items: center;

        input {
            background-color: $input-gris;
            height: 80px;
            border:none;
            font-size: 2rem;
            margin-left: 30px;
            padding-left: 40px;
        }
        
        input[type=text] {
            width: 500px;
        }
        input[type=submit] {
            background-image: url("../ressources/loupe.png");
            background-position: center;
            background-repeat: no-repeat;
            width: 80px;
            background-size: 50%;
        }
        ::placeholder {
            color: #707070;
        }
    }

    .liste-amis,.liste-non-rep,.liste-a-confirm {
        text-align: left;

        .post {
            position: relative;
            margin-top: 50px;
        }

        .pseudo {
            margin-top: 20px;
            padding-bottom: 0;
            font-weight: 600;
            font-size: 3rem;
        }

        .interets {
            padding: 0;
            margin-top: 10px;
            font-style: italic;
        }

        .biographie {
            font-size: 2.3rem;
        }
    }

    .liste-amis {
        .biographie {
            width: 70%;
        }

        .btn-add-amis {
            padding: 12px;
            display: block;
            position: absolute;
            right: 20px;
            top: calc(50% - 50px);
            text-align: center;
            height: 50px;
        }
    }

    .liste-non-rep {
        .biographie {
            width: 90%;
        }
    }

    .liste-a-confirm {
        .biographie {
            width: 70%;
        }

        .flex-oui-non{
            position: absolute;
            top: calc(50% - 40px);
            right: 20px;
            display: flex;
            justify-content: space-between;
            width: 200px;
            height: 60px;

            a {
                border-radius: 20px;
                width: 90px;
                height: 100%;
                text-align: center;
                padding-top: calc(50% - 80px);
                color: white;
                font-size: 2rem;
            }

            a:nth-child(1) {
                background-color: $rouge-calme;
            }

            a:nth-child(2) {
                background-color: #35D6FF;
            }
        }
    }
}

.logo-accueil {
    width: 90%;
    text-align: center;
    margin-bottom: 30px;
    img {
        width: 400px;
    }
}

.recherche-flex {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* *******************************************************************************************************************************
**********************************************************************************************************************************
----------------------------------------------------------- SHOW LIKES -----------------------------------------------------------
**********************************************************************************************************************************
******************************************************************************************************************************** */

#displayLikes {
    width: 50%;
    height: 50%;
    background-color: $logo-gris;
    position: absolute;
    top: 10%;
    left: 25%;
    
    padding: 20px;
    overflow:hidden;
    overflow-y: scroll;

    h2 {
        color: $input-gris;
        font-style: normal;
        font-weight: 500;
        font-size: 4rem;
    }

    .all-likes {
        margin-top: 15px;
        margin-left: 20px;
    }

    .like a{
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .img_liker {
        background-image: url(../ressources/avatar/josman.jpg);
        height: 50px;
        width: 50px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
    }

    .pseudo_liker {
        padding-left: 15px;
        margin: 0;
        font-size: 3rem;
        color: $input-gris;
    }

    #croix_likes {
        position: absolute;
        width: 50px;
        height: 50px;
        bottom: 20px;
        right: 20px;
    }
}

/* *******************************************************************************************************************************
**********************************************************************************************************************************
----------------------------------------------------------- MVT PROFIL -----------------------------------------------------------
**********************************************************************************************************************************
******************************************************************************************************************************** */

.classMvtGauche {
    animation: mouvementGauche 1s;
}

@keyframes mouvementGauche {
    to {
        margin-left: calc(140px - 100vw);
    }
}


.flecheMvtDroite {
    animation: flecheMouvementDroite 1s;
}

@keyframes flecheMouvementDroite {
    to {
        left: 95%;
    }
    
}

.classMvtDroite {
    animation: mouvementDroite 1s;
}

@keyframes mouvementDroite {
    to {
        margin-left: 0;
    }
}

.fleche2MvtGauche {
    animation: fleche2MouvementGauche 1s;
}

@keyframes fleche2MouvementGauche {
    to {
        left: 9%;
    }
}

.fleche2MvtDroite {
    animation: fleche2MouvementDroite 1s;
}

@keyframes fleche2MouvementDroite {
    to {
        left: calc(100vw + 1%);
    }
}

/* *******************************************************************************************************************************
**********************************************************************************************************************************
-------------------------------------------------------- MEDIA QUERIES -----------------------------------------------------------
**********************************************************************************************************************************
******************************************************************************************************************************** */

/* 
-------------------------------------------------------------- 1200px ------------------------------------------------------------
                                                                                                                                */
@media screen and (max-width: 1200px) {
    .split-index {
        flex-direction: column;
        > div {
            width: 100vw;
            min-height: auto;
            padding: 20px
        }
        
    }
    .post {
        padding-left: 150px;
        .img_posteur {
            left: -13%;
        }
    }
    .post_commentaire {
        padding-left: 150px;
    }
    #profil2 {
        padding-left: 50px;
    }

    #amis .flex-card {
        grid-template-columns: repeat(2, 1fr);
    }
    .recherche-flex {
        flex-direction: column;
    }
    #amis form.recherche input[type=text] {
        width: 400px;
    }

    #compte .flex-bouton {
        margin-top: 80px;
        > form {
            margin-top: 20px;
        }
    }
}

/* 
-------------------------------------------------------------- 1000px ------------------------------------------------------------
                                                                                                                                */
@media screen and (max-width: 1000px) {

    .post_commentaire {
        padding-left: 100px;
    }
    .accueil form .btn-default {
        display: block;
        float: none;
    }
    .post .img_recepteur {
        left: 50px
    }

    .post .img_posteur {
        height: 150px;
        width: 150px;
        left: -8%;
    }
    #erreur, #info {
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
    }                                                                                                                                    
}
/* 
-------------------------------------------------------------- 700px ------------------------------------------------------------
                                                                                                                                */

@media screen and (max-width: 700px) {
    #erreur, #info {
        left: 50%;
        transform: translateX(-50%);
        top: 20%;
        width: 80%;
    }
    .logo-accueil > img{
        width: 70%;
    }
    .partie-logo > div > img {
        width: 90%;
    }
    .split-menu {
        flex-direction: column;
        #menu {
            position: static;
            height: 100px;
            width: 100%;
            padding-bottom: 20px;
            
            .flex_menu {
                height: auto;
            }
        }

        #menu:hover {
            width: 100%;
            height: auto;
            .img_avatar_menu {
                margin-left: 50%;
                transform: translateX(-50%);
            }
        }

        #screen {
            margin-left: 0;
            .profil-avatar {
                width: 150px;
                height: 150px;
                border: 5px solid white;
                top:25%;
            }
            #profil2 {
                padding-left: 120px;
            }
        }
    }
    .flex_compl_comm {
        flex-direction: column;
        align-items: start;
        margin-bottom: 40px;
        p {
            padding-bottom: 0;
            padding-left: 0;
        }
    }
    .post {
        min-height: 150px;
        width: 95%;
        margin-left: 0;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 20px;
        .pseudo {
            margin-top: 10px;
        }
        p {
            word-break: keep-all;
            margin-top: 10px;
        }
        .img_post {
            width: 50%;
            height: auto;
        }
        .img_posteur,.img_recepteur {
            border: 8px solid white;
            display: none;
        }
    }
    #displayLikes {
        width: 70%;
        left: 15%;
    }
    .profil-avatar {
        img.myAccount, form.myAccount {
            top: 35% !important;
            left: 35% !important;
        }
    }
}

/* 
-------------------------------------------------------------- 400px ------------------------------------------------------------
                                                                                                                                */

@media screen and (max-width: 400px) {
    .split-index .partie-form .flex  {    
        form input {
            height: 60px;
            font-size: 1.5rem;
        }

         div {
            font-size: 1.5rem;

            input {
                padding: 0px;
                text-align: center;
            }
        }
    }
    .flex-profil > div {
        width: 100vw;
    }
    .split-menu #screen #profil2 {
        padding-left: 0px;
    }
    .profil, .amis, .accueil {
        padding-left: 10px;
    }
    #amis .flex-card {
        grid-template-columns: 1fr;
    }
    #amis .liste-amis .btn-add-amis {
        display: none;
    }
    #amis .liste-a-confirm .flex-oui-non {
        flex-direction: column;
        width: auto;
    }
    #amis form.recherche input {
        margin-left: 0px;
        font-size: 1.5rem;
    }

}




/* *******************************************************************************************************************************
**********************************************************************************************************************************
----------------------------------------------------------- SCROLLBAR ------------------------------------------------------------
**********************************************************************************************************************************
******************************************************************************************************************************** */


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $input-gris; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2F3136; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #202225;
  }

  .clickForLikes {
      cursor: pointer;
  }